<div class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <div class="columns-2 f2wf-columns">
          <div class="column-16"><img src="{{ images.-16867c1.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:640,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;640px&quot;}]" alt="{{ images.-16867c1.alt | trim | escape }}" class="footer-logo-wrapper"></div>
          <div class="small-columns f2wf-small-columns">
            <div class="column-17">
              <div class="content-5">
                <div class="footer-links"></div>
              </div>
            </div>
            <div class="column-17">
              <div class="content-5">
                <div class="footer-links-2">
                  <div class="_16px-header dark">{{ texts.26ac69cc }}</div>
                  <div class="_16px-header dark">{{ texts.4422b111 }}</div>
                  <div class="_16px-header dark">{{ texts.7f9c4ef7 }}</div>
                </div>
              </div>
            </div>
            <div class="column-17">
              <div class="content-5">
                <div class="footer-links-3">
                  <div class="_16px-header dark">{{ texts.-377645da }}</div>
                  <div class="_16px-header dark">{{ texts.1fa3c2 }}</div>
                  <div class="_16px-header dark">{{ texts.7f2746de }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="frame-3432">
            <div class="_16px-header dark">{{ texts.-3fbde6f6 }}</div>
            <div class="_16px-header dark">{{ texts.38629897 }}</div>
          </div>
          <div class="frame-3432">
            <div class="button-text dark">{{ texts.-9d29e84 }}</div>
            <div class="button-text dark">{{ texts.6f12fdb1 }}</div>
            <div class="button-text dark">{{ texts.19653641 }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>