<div data-animation="default" class="navbar-logo-left w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-duration="400" data-doc-height="1">
    <div class="navbarcontainer w-container">
      <div class="navbar-content">
        <div class="navbar-brand">
          <div class="logo"><img src="{{ images.-1a0c5c5.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:640,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;640px&quot;}]" alt="{{ images.-1a0c5c5.alt | trim | escape }}" class="vectors-wrapper"></div>
        </div>
        <nav role="navigation" class="navbar-menu w-nav-menu">
          <a href="{{ links.23 }}" class="navbar-link w-nav-link">
            <div class="nav-button">{{ texts.-377645da }}</div>
          </a>
          <a href="{{ links.23 }}" class="navbar-link w-nav-link">
            <div class="nav-button">{{ texts.15309273 }}</div>
          </a>
          <a href="{{ links.23 }}" class="navbar-link w-nav-link">
            <div class="nav-button">{{ texts.4422b111 }}</div>
          </a>
          <a href="{{ links.23 }}" class="navbar-link w-nav-link">
            <div class="nav-button">{{ texts.75a5bdd6 }}</div>
          </a>
        </nav>
      </div>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>